<h1 class="center"><%= @pitcher.name %>'s stats</h1>

<div class="center">
  <h3>Arm: <%= @pitcher.arm %></h3>
  <p>ERA: <%= @pitcher.era %></p>
  <p>WHIP: <%= @pitcher.whip %></p>
  <p>K/9: <%= @pitcher.k_per_nine %></p>
  <p>BB/9: <%= @pitcher.bb_per_nine %></p>
</div>
