<%= render 'layouts/errors', obj: @player %>
<%= form_for(@player, html: { role: 'form' }) do |f| %>
  <div class="center">
    <p><%= f.label :name %></p>
    <p><%= f.text_field :name %></p>

    <p><%= f.label :position %></p>
    <p><%= f.text_field :position %></p>

    <p><%= f.label :singles %></p>
    <p><%= f.text_field :singles %></p>

    <p><%= f.label :doubles %></p>
    <p><%= f.text_field :doubles %></p>

    <p><%= f.label :triples %></p>
    <p><%= f.text_field :triples %></p>

    <p><%= f.label "Home runs" %></p>
    <p><%= f.text_field :hr %></p>

    <p><%= f.label "at bats" %></p>
    <p><%= f.text_field :at_bats %></p>

    <p><%= f.label :walks %></p>
    <p><%= f.text_field :walks %></p>

    <p><%= f.label "hit by pitch" %></p>
    <p><%= f.text_field :hbp %></p>

    <p><%= f.label "sac flies" %></p>
    <p><%= f.text_field :sac_flies %></p>

    <p class="bold-text">RBIs (if you are into that sort of thing)</p>
    <p><%= f.text_field :rbis %></p>

    <%= f.submit class: "btn btn-large btn-danger bottom-marg" %>
  </div>
<% end %>
