<h1 class="center"><%= @player.name %></h1>

<h3 class="center"><%= @player.position %></h3>

<div class="center">
  <p>Slashline: <%= @player.avg %>/<%= @player.obp %>/<%= @player.slg %></p>
  <p> OPS: <%= @player.ops %></p>
  <p>RBIs: <%= @player.rbis %></p>
  <p>Isolated Power: <%= @player.iso %></p>
  <p>Runs Created: <%= @player.runs_created %></p>
  <p>BABIP: <%= @player.babip %></p>
  <p><%= link_to "Edit Player", edit_position_player_path(@player), class: "btn btn-large btn-primary" %></p>
</div>
