
<div class="jumbotron center">
    <h1 class="center">Baseball Stats Compiler</h1>
    <h3 class="center">A demo of the "baseball" Ruby Gem</h3>
    <h3 class="center top-pad bottom-pad">See how it works:</h3>
    <p class="center">
      <span>
        <%= link_to "Figure Batter Stats", new_position_player_path, class: "btn btn-large btn-primary" %>
      </span>
      <span>
        <%= link_to "Figure Pitcher Stats", new_pitcher_path, class: "btn btn-large btn-danger" %>
      </span>
    </p>
</div>
<div class="center">
  <p>'baseball' is a Ruby library for easily calculating and formatting baseball statistics</p>
  <p>Current 'baseball' gem: <a href="https://badge.fury.io/rb/baseball"><img src="https://badge.fury.io/rb/baseball.svg" alt="Gem Version" height="18"></a></p>
  <p>View gem code, or contribute:<a href="github.com/buzzamus/baseball-gem"><%= image_tag("GitHub.png", class: "img-reduce") %></a></p>
  <p>*All data is subject to being deleted<p>
  <p>(It is just a demo after all!)</p>
  <p>This demo is also on GitHub: <a href="github.com/buzzamus/baseball-demo"><%= image_tag("GitHub.png", class: "img-reduce") %></a></p>
</div>

<%= render 'layouts/footer' %>
